body {
  background-color: darkcyan;
}

.konteiner {
  width: 80%;
  min-width: 300px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 30px;
}

.leht {
  display: flex;
}

.leht .asukoht {
  width: 30%;
}

.nav_row {
  cursor: pointer;
  margin-top: 5px;
  font-size: 1.2rem;
}

.nav_row.aktiivne {
  color: darkblue;
  background-color: lightgreen;
}

.navigatsioonipaan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-vaade,
.lisa-asukoht {
  margin-left: 30px;
  min-height: 500px;
}
.lisa-asukoht-vorm input,
.lisa-asukoht-vorm button {
  margin-top: 5px;
}

.lisa-asukoht-vorm .koordinaadid {
  width: 30px;
}

.m-left-10 {
  margin-left: 10px;
}

.nupp {
  background-color: white;
  border-width: 0px;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.nupp.ok-nupp {
  color: blue;
}

.nupp.ok-nupp:active {
  color: lightblue;
}

.nupp.katkesta-nupp {
  color: red;
}

.nupp.katkesta-nupp:active {
  color: lightcoral;
}
